
mit =
    */python?.?/functools.py
    */python?.?/shlex.py
    */python?.?/weakref.py
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
